<div class="container">
    <header>
        <div class="row">
            <div class="col3 mt-2">
                <ul class="">
                    <li><a class="text-decoration-none btn btn-secondary " routerLink="product">Product</a></li>
                    <li><a class="text-decoration-none btn btn-secondary mt-2" routerLink="productAdd">ProductAdd</a></li>
                    
                </ul>
            </div>
        </div>
    </header>
    <main>
        <router-outlet />
    </main>
    <footer >
        
    </footer>
</div>